@import "./reset.css";

/*abstract*/

/*base*/
html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #ffffff;
    display: inline-block;
}

h2 {
    font-size: 3rem;
    color: #666d89;
    font-weight: 900;
    text-transform: capitalize;
}

h3 {
    font-size: 1.8rem;
    color: #666d89;
    font-weight: 900;
    text-transform: capitalize;
}

.icon {
    width: 61px;
    height: 61px;
}

/*layouts*/
.wrapper {
    max-width: 1020px;
    margin: auto;
}

.header {
    height: 89px;
    line-height: 89px;
    background-color: #2d303a;
}

.section {
    position: relative;
}

.section::after {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 1;
}

.header.section::after {
    background-color: #323746;
}

.slider.section::after {
    background-color: #ea676b;
}

.services.section::after {
    background-color: #ffffff;
}

.header__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*components*/
/*header*/
.logo {
    font-size: 2.5rem;
    color: #f06c64;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation {
    display: flex;
    text-transform: uppercase;
}

.navigation__item {
    position: relative;
    padding-left: 28px;
}

.navigation__item:not(:last-child):after {
    content: '';
    height: 2px;
    width: 2px;
    background-color: #494e62;
    right: -16px;
    bottom: 43px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
}

.navigation__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 700;
}

.navigation__link:hover {
    color: #f06c64;
}

/*slider*/
.slider {
    background-color: #f06c64;
}

.slider__wrapper {
    padding: 59px 40px 56px 42px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.slider__navigation {
    display: flex;
}

.slider__navigation-icon {
    display: block;
    margin: auto;
}

.slider__navigation:hover,
.slider__navigation:active {
    box-shadow: 0 0 2px 10px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.slider__navigation:hover img,
.slider__navigation:active img {
    filter: brightness(50%);
}

.slider__navigation-icon_right {
    transform: rotate(180deg);
}

.slider__content {
    display: flex;
    padding: 0 54px;
    flex: 1;
    justify-content: space-between;
}

.phone {
    position: relative;
}

.phone__base {
    position: absolute;
    left: -2px;
    top: -1px;
}

.phone__shadow {
    position: relative;
}

.phone__content {
    width: 188px;
    height: 333px;
    position: absolute;
    top: 65px;
    left: 14px;
    overflow: hidden;
}

.phone__content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/content-vert.png);
}

.phone_horizontal {
    transform: rotate(90deg);
    left: -149px;
    top: -2px;
}

.phone_horizontal .phone__content::before {
    left: -50%;
    width: 200%;
    background-image: url(assets/img/content-hor.png);
    transform: rotate(-90deg);
}

.phone_horizontal .phone__shadow {
    transform: rotateX(180deg);
    top: -24px;
}

/*Services*/
.services {
    background-color: #f2f2f2;
}

.section__wrapper {
    padding: 68px 39px 30px 39px;
    box-sizing: border-box;
}

.section__description {
    padding-top: 21px;
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
}

.services__container {
    padding-top: 45px;
}

.service {
    width: 32%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
}

.icon_pencil {
    background-image: url("assets/img/services/pencil.svg");
}

.icon_bulb {
    background-image: url("assets/img/services/bulb.svg");
}

.icon_heart {
    background-image: url("assets/img/services/heart.svg");
}

.icon_phone {
    background-image: url("assets/img/services/phone.svg");
}

.icon_star {
    background-image: url("assets/img/services/star.svg");
}

.icon_cloud {
    background-image: url("assets/img/services/cloud.svg");
}

.service__content {
    max-width: 220px;
    max-height: 110px;
    overflow: hidden;
}

.service__description {
    font-size: 1.2rem;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    padding: 10px 0;
    text-align: justify;
    word-break: break-word;
}

/*Portfolio*/
.portfolio.section::after {
    background-color: #323746;
}

.portfolio {
    background-color: #2d303a;
}

.portfolio__tags {
    padding: 10px 1px;
}

.tags-container {
    display: flex;
}

.layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.layout-4-column li {
    width: calc(25% - 15px);
    margin: 0 20px 20px 0;
}

.layout-4-column li:nth-child(4n) {
    margin-right: 0;
}

.layout-4-column li:before {
    padding-top: 85%;
    content: '';
    float: left;
}

.tag {
    display: block;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #767e9e;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #666d89;
    text-transform: capitalize;
    margin-right: 9px;
    padding: 0 7px 0 6px;
    cursor: pointer;
}

.tag:hover,
.tag:active {
    color: #dedede;
    border-color: #dedede;
}

.portfolio__container {
    padding: 9px 2px 18px 0;
}

.portfolio__item:nth-child(n+13) {
    display: none;
}

.item-1 {
    background: url(assets/img/portfolio/item-1.png) 50% 50%;
}

.item-2 {
    background: url(assets/img/portfolio/item-2.png) 50% 50%;
}

.item-3 {
    background: url(assets/img/portfolio/item-3.png) 50% 50%;
}

.item-4 {
    background: url(assets/img/portfolio/item-4.png) 50% 50%;
}

.item-5 {
    background: url(assets/img/portfolio/item-5.png) 50% 50%;
}

.item-6 {
    background: url(assets/img/portfolio/item-6.png) 50% 50%;
}

.item-7 {
    background: url(assets/img/portfolio/item-7.png) 50% 50%;
}

.item-8 {
    background: url(assets/img/portfolio/item-8.png) 50% 50%;
}

.item-9 {
    background: url(assets/img/portfolio/item-9.png) 50% 50%;
}

.item-10 {
    background: url(assets/img/portfolio/item-10.png) 50% 50%;
}

.item-11 {
    background: url(assets/img/portfolio/item-11.png) 50% 50%;
}

.item-12 {
    background: url(assets/img/portfolio/item-12.png) 50% 50%;
}

/*About us*/
.about-us {
    background-color: #f2f2f2;
}

.about-us.section::after {
    background-color: #ffffff;
}

.about-us__container {
    padding: 45px 0 25px 0;
}

.about-us__item {
    max-width: 32%;
}

.about-us__photo {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 17px;
}

.item-description {
    padding: 10px 0;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    text-align: justify;
    font-weight: 400;
}

.about-us__social-links {
    padding: 11px 0;
}

.social-links {
    display: flex;
}

.social-links__item {
    margin-right: 6px;
}

.social-links__item:hover,
.social-links__item:active {
    filter: invert(58%) sepia(4%) saturate(7468%) hue-rotate(314deg) brightness(95%) contrast(98%);
}

.icon_small {
    width: 34px;
    height: 34px;
    display: block;
}

.icon_facebook {
    background-image: url("assets/img/social-media/Facebook.png");
}

.icon_google-plus {
    background-image: url("assets/img/social-media/Google.png");
}

.icon_twitter {
    background-image: url("assets/img/social-media/Twitter.png");
}

.icon_linkedin {
    background-image: url("assets/img/social-media/LinkedIn.png");
}

